<div class='jumbotron'>
	<h1>Bem vindo ao Desafio AjudaJus</h1>
	<h3>Quer cadastrar uma causa?</h3>
	<%= link_to 'Cadastre-se', new_user_registration_path, class:'btn btn-default' %>
	<%= link_to 'Login', new_user_session_path, class:'btn btn-default' %>
	<h3>É um advogado?</h3>
	<%= link_to 'Cadastro Advogado', new_lawyer_registration_path, class:'btn btn-default' %>
	<%= link_to 'Login Advogado', new_lawyer_session_path, class:'btn btn-default' %>
</div>