<div class='jumbotron'>
	<h1>Bem vindo ao AjudaJus</h1>
	<%= link_to 'Cadastre-se', new_user_registration_path, class:'btn btn-default' %>
	<%= link_to 'Login', new_user_session_path, class:'btn btn-default' %>
</div>